@media (max-width:768px) {

    /* nav + heading */

    #sideNav {
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 2%;
        right: -250px;
        background-color: var(--primary-color);
        transition: right linear 0.3s;
        z-index: 1;

    }

    .mobile-btn-menu {
        display: inline-block;
        z-index: 1;
    }

    .header-nav__item {
        margin-top:32px;
        font-size: 1.6rem;
        line-height: 40px;
        width: 100%;
    }

    .header-nav__item>a {
        color: var(--white-color);
        display: inline-block;
        width: 100%;
        padding-left: 16px;
    }


    .header-nav__list,
    .header-nav__item {
        display: block;
    }


    .mobile-btn-menu {
        display: inline-block;
    }

    .header-nav__item:hover>a {
        color: var(--text-color);
        background-color: var(--white-color);
    }

    .header-content__introduce-txt .header-content__introduce-stat {
       justify-content:flex-start !important;
       margin-top: 16px;
       
    }

    .header-nav__item .sub-nav {
        height: 30vh;
        width: 90%;
        top: 150%;
        left: 12px;
        box-shadow: none;
        padding: 10px;
        text-align: left;
    }



    .header-nav__item.hasSubnav:hover +.header-nav__item {
        transition: margin-top ease 0.3s;
        margin-top: 35vh;
        
    }



    /* course card */
    /* .course-card {
        margin-left: 20px;
    } */

    .slider .row .slider-card:nth-child(n+1) {
        margin-left: 8.33333%;
    }

    .slider .row .slider-card:nth-child(2n){
        margin-left: 16.66667%;
    }
    




    .join-course__img {
        margin-top: 32px;
    }



    /* buy course page */

    .course-info-tablet {
        display: block;
    }


}